body{
    background-color: darkgray;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 60px;
    background-color: antiquewhite;
}
  
.title {
    color: grey;
    font-size: 18px;
}