body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: Pink;
}

.lagu {
    width: 300px;
    border: 1px solid red;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
}

h2 {
  color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    color: #555;
    font-size: 1em;
    margin: 5px 0;
}
