div {
   width: 350px;
   margin: 10px auto;
}

.satu {
    background-color: pink;
    padding: 10px;
    border: 5px solid red;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
    display: inline-block;
    
}

.dua {
    background-color: lightblue;
    padding: 10px;
    border: 5px solid blue;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
    display: inline-block;
}

.tiga {
    width: 350px;
    
    background-color: turquoise;
    padding: 10px;
    border: 5px solid green;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 30px;
    display: inline-block;
}
