html {
    
    font-family: Arial, Helvetica, sans-serif;
}
.back{
    background-image: url(d.jpg);
}
.container {
    width: 1200px;
    height: auto;
    overflow: auto;
    margin: 30px auto;
}
.header1 {
    text-align: center;
    color: white;
    background: black;
    width: 800px;
    height: 80px;
    margin-left: 300px;
    border: 3px solid black;
    padding: 1%;
    padding-top: 1%;
    border-radius: 10px;
}

.header2 {
    text-align: center;
    background: white;
    width: auto;
    height: 80px;
    margin: 20px 0px 20px 0px;
    border: 3px solid black;
    padding: 1%;
    padding-top: 1%;
    border-radius: 10px;
}


.sidebar {
    text-align: center;
    background-color: black;
    color: white;
    width: 200px;
    height: 140px;
    position: absolute;
    margin: 130px 0px 0px 0px;
    border-radius: 10px;
}

.indra{
    background-color: black;
    color: white;
    width: 180px;
    height: 230px;
    position: fixed;
    margin: 0.2px 0px 0px 0px;
    border-radius: 50%;
}
.content {
    text-align: center;
    background: black;
    width: auto;
    height: 340px;
    margin:5px 0px 0px 230px;
    padding:20px;
    border-radius: 10px;
}