body{
    background-color: beige;
  }
  
  .container-card {
    border-radius: 10px;
    max-width: fit-content;
    margin-left: 510px;
    margin-top: 80px;
    padding: 30px;
    background-color: #84817d;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-list {
    display: flex;
    list-style: none;
  }
  
  .card-item {
    margin: 30px;
    width: 200px;
    text-align: center;
  }
  
  .card-cover {
    width: 150px;
    height: 150px;
    border-radius: 7%;
    object-fit: cover;
  }
  
  .card-name {
    width: auto;
    height: auto;
    transition: all;
    transition-duration: 300mss;
    font-size: 25px;
    height: 10px;
    color: white;
  }
  

  .card-name:hover{
    color: red;
    
  }

  h1 {
    font-size: 50px;
    font-family: courier;
    transition: all;
    transition-duration: 300ms;
  }

  h1:hover{
    cursor: pointer;
    color: red;
  }