:root {
  --Utama: #33e0d2;
  --backg: rgb(0, 0, 0);
  --backg2: rgb(67, 147, 196);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-margin: 70px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f977ce;
  background-image: linear-gradient(to right, #00b09b, #96c93d);
  color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 3px solid var(--Utama);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}
.navbar .navbar-title a {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.navbar .navbar-title a:hover {
  color: var(--Utama);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 2rem;
}
.navbar .navbar-nav a:hover {
  color: var(--Utama);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.3rem;
  border-bottom: 0.1rem solid var(--Utama);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.4);
}
.container {
  width: 81%;
  margin: auto;
  margin-top: 80px;
}
.text {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 4em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
.about {
  display: flex;
  flex-direction: row;
  place-items: center;
  width: 100%;
  padding-left: 130px;
  margin-top: 40px;
}
.foto-profil img {
  width: 350px;
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.desc-profil {
  place-items: center;
  margin-left: 100px;
  text-align: left;
  padding-right: 100px;
}
.desc-profil h2 {
  font-size: 40px;
}
.desc-profil p {
  font-size: 20px;
}

.heading-content {
  text-align: center;
  font-size: 3.5rem;
  margin-top: 130px;
}
.skills {
  display: flex;
  justify-content: space-between;

  padding: 0 5rem;
  margin-top: 20px;
  text-align: center;
}

.skill img {
  width: 140px;
  margin-top: 40px;
}
.skill img:hover {
  opacity: 0.5;
}
.skill h2 {
  font-size: 23px;
  margin-top: 5px;
}
.skill p {
  font-size: 15px;
  padding: 0 4rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  grid-template-rows: 1fr;
}
.project {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 40px 100px 0px;
  border-radius: 12px;
  margin: 30px;
  justify-self: center;
  align-self: center;
}
.foto-project {
  object-fit: cover;
  width: 100%;
}
.foto-project img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.desc-project {
  padding: 0 1rem 1.25rem;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.desc-project h2 {
  font-size: 35px;
  padding-top: 20px;
}
.desc-project p {
  font-size: 14px;
}
footer {
  text-align: center;
  padding: 1rem 0 1rem;
  margin-top: 2rem;
  color: white;
  background-image: linear-gradient(to right, #5a3f37, #2c7744);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 100px 0px;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: white;
  margin: 1rem;
  font-size: 14px;
}
footer .social a :hover {
  color: var(--Utama);
}
footer .links {
  margin-bottom: 14px;
}
footer .links a {
  color: white;
  padding: 0.7rem 1rem;
  font-size: 17px;
}
footer .links :hover {
  color: var(--Utama);
}
footer .social :hover {
  color: var(--Utama);
  transform: scale(1.1);
  font-size: 16px;
}
footer .credit {
  font-size: 14px;
}
footer .credit a {
  color: #fff;
  font-weight: 400;
}
.credit a:hover {
  color: var(--Utama);
}
.social a .icon {
  margin-bottom: -5px;
  margin-right: 5px;
}
/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 65%;
  }
}
/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--backg);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2.5rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }
}
/* Mobile Phone */
@media (max-width: 450px) {
  .about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 0;
  }
  .desc-profil {
    padding: 0;
    padding-left: 0;
    margin-left: 10px;
  }
  .container {
    width: 98%;
  }
  .skills {
    padding: 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .skill img {
    width: 100px;
  }
  .skills p {
    padding: 0 0;
    font-size: 12px;
  }
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}
