body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #fac0ff;
}

header {
    background-color: #82daff;
    color: #fff;
    padding: 15px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.song {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.song-details {
    padding: 20px;
}

h1, h2 {
    color: #000000;
}

p {
    color: #000000;
    margin-bottom: 15px;
}

audio {
    width: 100%;
    margin-top: 10px;
}

/* Hover effect */
.song:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: box-shadow 0.3s, transform 0.3s;
}
